<!--<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let user of users">
    <span class="badge">{{user.id}}</span> {{user.lastname}}
    <button (click)="save()">save</button>
  </li>
</ul>-->
<div id="rightBody">
<form>
  <label>Username</label>
  <input type="text" name="Username" value="Username">
  <br>
  <label>Password</label>
  <input type="password" name="Password" value="****">
  <br>
  <a routerLink="/user-registration">Registration</a>
  <br>
  <input type="submit" value="Submit">
</form>
</div>
