#completeBody {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#operationBody {
  display: flex;
  flex-direction: column;
  border: 4px double black;
  background-color: #f2f2f2;
  padding: 10px;
}
input , label{
  padding: 3px;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
select {
  padding: 10px 10px;
  border: black solid thin;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin: 0 2px;
}
a{
  margin-left: 10px;
}

